@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ----------------- ROOT VARIABLES ------------------ */
:root{
    --color-sky: #87CEEB;
    --color-nice:rgb(239, 250, 220);
    --color-message: #f8f0f0;
    --color-primary: #7b2cbf;
    --color-danger: #af3010;
    --color-success: #50ce30;
    --color-success-dark: #0e3b02;
    --color-warning: #f0f33a;
    --color-white: #fff;
    --color-info-dark: #1a1a1a;
    --color-info-light: #dce1eb;
    --color-dark: #000000;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #000000;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
   
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)

}

/* ----------------- MEDIA QUARIES ------------------ */
.dark-theme-variables{
    --color-info-dark: #fffefe;
    --color-background: #181a1e;
    --color-message: #f8f0f0;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light)

}

form.fomu{
    max-width: 600px;
    margin: 0 auto;
}

.errorlist{
    color: rgb(164, 7, 7);
}

.form-box form{
    max-width: 425px;
    margin: 0 auto;   
}

.form-box{
    background:var(--color-nice);
    max-width: 500px;
    padding: 1rem 1rem;
    margin: 0 auto;
    border-radius: var(--border-radius-3);
}

 span.hub{
    color: var(--color-success);  
}
